<ion-view title="修改密码">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <form ng-submit="submit()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">当前密码</span>
                    <input type="password" ng-model="formData.oldPassword" placeholder="当前密码">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">新密码</span>
                    <input type="password" ng-model="formData.newPassword" placeholder="新密码">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">提交</button>
                </label>
            </div>
        </form>
    </ion-content>

</ion-view>
