<ion-view title="神猪">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="hide_navicon"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-left tabs-striped tabs-top tabs-background-positive tabs-light">
        <ion-tab title="会话" icon="ion-chatbubble-working" href="#/app/main/home">
            <ion-nav-view name="main-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="任务" icon="ion-more" href="#/app/main/transes">
            <ion-nav-view name="main-transes"></ion-nav-view>
        </ion-tab>
        <ion-tab title="发现" icon="ion-compass" href="#/app/main/discovery">
            <ion-nav-view name="main-discovery"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
