<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> 返回</ion-nav-back-button> -->
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right-ios7"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title"></h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/main">
                    主页
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/me" ng-show="user.id">
                    {{user.nickName}}
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/favor" ng-show="user.id" ng-click="menuItemClicked">
                    喜好
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/common">
                    通用
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/feedback">
                    意见反馈
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>