<ion-view title="注册">

    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <a class="button button-clear icon-left ion-ios7-arrow-left" href="#login">去登录</a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header">
        <form ng-submit="registerPhone()" ng-show="registerStep == 1">
            <div class="list">
                <label class="item item-input">
                    <input type="tel" ng-model="registerData.phone" placeholder="手机号码">
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="registerData.password" placeholder="密码">
                </label>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">提交</button>
                </div>
            </div>
        </form>

        <form ng-submit="registerSmsCode()" ng-show="registerStep == 2">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="registerData.smscode" placeholder="验证密码">
                </label>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">提交</button>
                </div>
            </div>
        </form>

        <form ng-submit="register()" ng-show="registerStep == 3">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="registerData.nickname" placeholder="设置一个昵称">
                </label>

                <label class="item item-radio mt20">
                    <input type="radio" ng-model="registerData.gender" value="1">
                    <div class="item-content">男</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" ng-model="registerData.gender" value="2">
                    <div class="item-content">女</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio mb20">
                    <input type="radio" ng-model="registerData.gender" value="0" ng-checked="true">
                    <div class="item-content">保密</div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit">提交</button>
                </div>
            </div>
        </form>
    </ion-content>

</ion-view>
