<div class="list card">

  <div class="item item-avatar">
    <img src="img/cleaning.png">
    <h2>上门洗衣</h2>
    <p ng-bind="dialog.trans.displayTime"></p>
  </div>

  <div class="item item-body">
    <p>客户姓名：{{dialog.trans.contactsName}}</p>
    <p>客户电话：{{dialog.trans.contactsPhone}}</p>
    <p>取衣地点：{{dialog.trans.address}}</p>
    <p>服务商：{{dialog.trans.service_entity.displayName}}</p>
    <p>{{dialog.trans.content}}</p>
    <p>价格：{{dialog.trans.price}}</p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="cancel(dialog)" ng-show="dialog.selectChoiceValue == 0">
      <i class="icon ion-close-round"></i>
      取消
    </a>
    <a class="tab-item" ng-click="ok(dialog)" ng-show="dialog.selectChoiceValue == 0">
      <i class="icon ion-checkmark-round"></i>
      确认
    </a>
    <span class="tab-item" ng-show="dialog.selectChoiceValue == 1">
      <i class="icon ion-checkmark-round"></i>
      已确认
    </span>
    <span class="tab-item" ng-show="dialog.selectChoiceValue == 2">
      <i class="icon ion-close-round"></i>
      已取消
    </span>
  </div>

</div>